<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/master" routerLinkActive="active"
            >master</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/designation"
            routerLinkActive="active"
            >designation</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active"
            >clients</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/employ'" routerLinkActive="active"
            >employee</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/client-project'"
            routerLinkActive="active"
            >client project</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" (click)="onLogOff()">
          Logoff
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container pt-1"><router-outlet /></div>
