<div class="container">
  <div class="row mt-4">
    @if(isLoader ){
    <div class="col-12 text-center">
      <div class="spinner-border text-dark"></div>
    </div>

    } @else { @for(designation of designationList; track $index){
    <div class="col-4">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">{{ designation.designation }}</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
